.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
body{
    margin: 0;
    box-sizing: border-box;
}
main{
    border: 2px solid black;
    max-height: 600px;
    height: 800px;
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 15px;
}
img{
    max-width: 576px;
    width: 300px;
    display: block;
    margin: 10px auto;
    border-radius: 10px;

}
h1{
    font-size: 20px;
    text-align:center;
    padding: 20px;
    text-justify: auto;
}
p{
    color: rgb(119, 112, 112);
    text-align: center;
    padding: 0 15px 60px 15px;
}
